{% extends 'base.html' %}
{% block title %}Example Formsets  Related{% endblock %}
{% load static %}
{% block content %}
<div id="content-container" class="container p-none">
    <div id="al-container" class="side-p">
        <div id="al-control" style="border-bottom-style: dotted; border-bottom-width: thin;" class="mb-2">
            <h1 class="ad-mh">{{ heading }}</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 text-muted">
                <p>&nbsp;</p>
            </div>
            <div class="col-md-6 col-lg-6 text-right text-muted">
                <p>{% now "l j \d\e F Y" %}</p>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <h4>Demo del uso de formsets relacionados a un Modelo Padre.</h4>
            </div>
        </div>
        <br/>

    </div>
</div>

{% endblock content %}
{% block js %}


<script type="text/javascript">


</script>

{% endblock js %}

