{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% load static %}
{% block content %}
<div id="content-container" class="container p-none">
    <div id="al-container" class="side-p">
        <div id="al-control" style="border-bottom-style: dotted; border-bottom-width: thin;" class="mb-2">
            <h1 class="ad-mh">Inicio</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 text-muted">
                <p>&nbsp;</p>
            </div>
            <div class="col-md-6 col-lg-6 text-right text-muted">
                <p>{% now "l j \d\e F Y" %}</p>
            </div>

        </div>

        <br/>
        <div class="row">
            <div class="col-4">
                <!-- List group -->
                <div class="list-group" id="myList" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#demo1"
                       role="tab">Demo 1</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#demo2" role="tab">Demo
                        2</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#demo3"
                       role="tab">Demo 3</a>

                </div>
            </div>
            <div class="col-8">
                <!-- Tab panes -->
                <div class="tab-content">

                    <div class="tab-pane active" id="demo1" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Ejemplo del uso de un formset, añadir y eliminar de manera dinamica
                                    forms dentro del formset, con ayuda de jQuery.</p>
                                <a href='/formset/' class="card-link">Ver demo</a>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="demo2" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                 <p class="card-text">Ejemplo del uso de un formset fijo, armado desde el view conforme a un modelo.</p>
                                <a href='/formset2/' class="card-link">Ver demo</a>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="demo3" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                 <p class="card-text">Ejemplo del uso de formsets relacionados a un Modelo Padre, dentro de un mismo Form (html).</p>
                                <a href='/formset3/' class="card-link">Ver demo</a>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
    {% block js %}


    <script type="text/javascript">

    </script>

    {% endblock js %}

